<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/file-handling-prototype"
            factory-class="org.knime.google.filehandling.nodes.connection.GoogleCloudStorageConnectionNodeFactory"
            id="org.knime.google.filehandling.nodes.connection.GoogleCloudStorageConnectionNodeFactory"/>
   </extension>
   
   <extension
         point="org.knime.filehandling.FSTestInitializerProvider">
         <FSTestInitializerProvider
               ProviderClass="org.knime.google.filehandling.testing.GoogleCloudStorageTestInitializerProvider">
         </FSTestInitializerProvider>
   </extension>
</plugin>
