<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.knime.database.DBType">
      <DBType id="bigquery" name="Google BigQuery"
            urlTemplateValidator="org.knime.database.node.connector.server.ServerUrlTemplateValidator$ExecutableExtensionFactory"
            defaultAttributeDefinitionSupplier="org.knime.database.DBType$NonTransactionalAndNonFetchingDefaultAttributeSupplier$Factory">
          <UrlTemplateExamples>
             <UrlTemplateExample template="jdbc:bigquery://&lt;host&gt;:&lt;port&gt;;ProjectId=&lt;database&gt;"/>
          </UrlTemplateExamples>
      </DBType>
   </extension>
   <extension point="org.knime.database.Agent">
      <Agent
            dbTypes="bigquery"
            factory="org.knime.database.extension.bigquery.BigQueryAgentFactory"
            interface="org.knime.database.agent.loader.DBLoader"/>
      <Agent
            dbTypes="bigquery"
            factory="org.knime.database.extension.bigquery.BigQueryAgentFactory"
            interface="org.knime.database.agent.sampling.DBSampling"/>
      <Agent
            dbTypes="bigquery"
            factory="org.knime.database.extension.bigquery.BigQueryAgentFactory"
            interface="org.knime.database.agent.writer.DBWriter"/>
   </extension>
   <extension point="org.knime.database.AggregationFunction">
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.AvgDistinctDBAggregationFunction$Factory"
            dbTypes="bigquery"/>
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.CountDistinctDBAggregationFunction$Factory"
            dbTypes="bigquery"/>
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.MaxDBAggregationFunction$Factory"
            dbTypes="bigquery"/>
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.MinDBAggregationFunction$Factory"
            dbTypes="bigquery"/>
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.SumDistinctDBAggregationFunction$Factory"
            dbTypes="bigquery"/>
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.BitAndDBAggregationFunction$Factory"
            dbTypes="bigquery"/>
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.BitOrDBAggregationFunction$Factory"
            dbTypes="bigquery"/>
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.BitXOrDBAggregationFunction$Factory"
            dbTypes="bigquery"/>
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.StdDevPopDBAggregationFunction$Factory"
            dbTypes="bigquery"/>
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.StdDevSampDBAggregationFunction$Factory"
            dbTypes="bigquery"/>
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.VarPopDBAggregationFunction$Factory"
            dbTypes="bigquery"/>
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.VarSampDBAggregationFunction$Factory"
            dbTypes="bigquery"/>
   </extension>
   <extension point="org.knime.database.DBTypeMappingService">
      <DBTypeMappingService
            dbTypeId="bigquery"
            supplier="org.knime.database.extension.bigquery.BigQueryTypeMappingServiceSupplier"/>
   </extension>
   <extension point="org.knime.database.SQLDialect">
      <SQLDialect dbTypes="bigquery" factory="org.knime.database.extension.bigquery.dialect.BigQueryDBSQLDialect$Factory"/>
   </extension>
   <extension point="org.knime.database.nodes.LoaderNode">
      <LoaderNode dbTypes="bigquery" class="org.knime.database.extension.bigquery.node.io.load.BigQueryLoaderNode"/>
   </extension>
   <extension point="org.knime.google.api.knimeGoogleAuthScope">
      <KnimeGoogleAuthScope KnimeGoogleAuthScope="org.knime.database.extension.bigquery.auth.scopes.BigQueryAuthScope$ExecutableExtensionFactory"/>
   </extension>
   <extension point="org.knime.workbench.repository.nodes">
      <node
            category-path="/db/connector"
            deprecated="false"
            factory-class="org.knime.database.extension.bigquery.node.connector.BigQueryDBConnectorNodeFactory">
      </node>
   </extension>
</plugin>
