<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="knimeGoogleAuthScope" name="KnimeGoogleAuthScope" schema="schema/KnimeGoogleAuthScope.exsd"/>
   <extension point="org.knime.workbench.repository.nodes">
      <node 
            category-path="/toolintegration/googleanalytics" 
            factory-class="org.knime.google.api.analytics.nodes.connector.GoogleAnalyticsConnectorFactory">
      </node>
      <node 
            category-path="/toolintegration/googleanalytics"
            factory-class="org.knime.google.api.analytics.nodes.query.GoogleAnalyticsQueryFactory">
      </node>
      <node 
            category-path="/toolintegration/googleanalytics" 
            factory-class="org.knime.google.api.analytics.ga4.node.connector.GAConnectorFactory">
      </node>
      <node 
            category-path="/toolintegration/googleanalytics" 
            factory-class="org.knime.google.api.analytics.ga4.node.query.GAQueryFactory">
      </node>
      <node 
            category-path="/io/connectors/googleservices" 
            factory-class="org.knime.google.api.nodes.connector.GoogleApiConnectorFactory">
      </node>
      <node
            after="org.knime.google.api.nodes.connector.GoogleApiConnectorFactory" 
            category-path="/io/connectors/googleservices" 
            factory-class="org.knime.google.api.nodes.authconnector.GoogleAuthNodeFactory"
            deprecated="true">
      </node>
      <node
            category-path="/io/connectors/googleservices"
            deprecated="true"
            factory-class="org.knime.google.api.drive.node.connector.GoogleDriveConnectionNodeFactory">
      </node>
      <node
            category-path="/io/connectors/googleservices"
            deprecated="true"
            factory-class="org.knime.google.api.sheets.nodes.connectorinteractive.GoogleSheetsInteractiveServiceProviderFactory">
      </node>
      <node
            after="org.knime.google.api.nodes.authconnector.GoogleAuthNodeFactory"
            category-path="/io/connectors/googleservices"
            deprecated="false"
            factory-class="org.knime.google.api.sheets.nodes.connector.GoogleSheetsConnectorFactory">
      </node>
      <node
            category-path="/io/read"
            deprecated="false"
            factory-class="org.knime.google.api.sheets.nodes.reader.GoogleSheetsReaderFactory">
      </node>
      <node
            category-path="/io/write"
            deprecated="false"
            factory-class="org.knime.google.api.sheets.nodes.spreadsheetwriter.GoogleSpreadsheetWriterFactory">
      </node>
      <node
            after="org.knime.google.api.sheets.nodes.spreadsheetwriter.GoogleSpreadsheetWriterFactory"
            category-path="/io/write"
            deprecated="false"
            factory-class="org.knime.google.api.sheets.nodes.sheetappender.GoogleSheetAppenderFactory">
      </node>
      <node
            after="org.knime.google.api.sheets.nodes.sheetappender.GoogleSheetAppenderFactory"
            category-path="/io/write"
            deprecated="false"
            factory-class="org.knime.google.api.sheets.nodes.sheetupdater.GoogleSheetUpdaterFactory">
      </node>
      <node
            category-path="/io/connectors/googleservices"
            factory-class="org.knime.google.api.nodes.authenticator.GoogleAuthenticatorNodeFactory">
      </node>
   </extension>
   <extension point="org.knime.workbench.repository.categories">
      <category 
            description="Nodes to access various Google APIs" 
            icon="icons/googleapicategory.png" 
            level-id="googleservices" 
            name="Google" 
            path="/io/connectors"
            after="knime">
      </category>
      <category 
            description="Nodes to access the Google Analytics API" 
            icon="icons/googleanalyticscategory.png" 
            level-id="googleanalytics" 
            name="Google Analytics" 
            path="/toolintegration">
      </category>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#de5246"
            hidden="true"
            name="Google Analytics"
            objectClass="org.knime.google.api.analytics.ga4.port.GAConnectionPortObject"
            objectSerializer="org.knime.google.api.analytics.ga4.port.GAConnectionPortObject$Serializer"
            specClass="org.knime.google.api.analytics.ga4.port.GAConnectionPortObjectSpec"
            specSerializer="org.knime.google.api.analytics.ga4.port.GAConnectionPortObjectSpec$Serializer">
      </portType>
      <portType
            color="#fe5617"
            hidden="true"
            name="Google Analytics (legacy)"
            objectClass="org.knime.google.api.analytics.data.GoogleAnalyticsConnectionPortObject"
            objectSerializer="org.knime.google.api.analytics.data.GoogleAnalyticsConnectionPortObject$Serializer"
            specClass="org.knime.google.api.analytics.data.GoogleAnalyticsConnectionPortObjectSpec"
            specSerializer="org.knime.google.api.analytics.data.GoogleAnalyticsConnectionPortObjectSpec$Serializer">
      </portType>
      <portType
            color="#4386f7"
            hidden="true"
            name="Google API"
            objectClass="org.knime.google.api.data.GoogleApiConnectionPortObject"
            objectSerializer="org.knime.google.api.data.GoogleApiConnectionPortObject$Serializer"
            specClass="org.knime.google.api.data.GoogleApiConnectionPortObjectSpec"
            specSerializer="org.knime.google.api.data.GoogleApiConnectionPortObjectSpec$Serializer">
      </portType>
      <portType
            color="#16a965"
            hidden="true"
            name="Google Sheets"
            objectClass="org.knime.google.api.sheets.data.GoogleSheetsConnectionPortObject"
            objectSerializer="org.knime.google.api.sheets.data.GoogleSheetsConnectionPortObject$Serializer"
            specClass="org.knime.google.api.sheets.data.GoogleSheetsConnectionPortObjectSpec"
            specSerializer="org.knime.google.api.sheets.data.GoogleSheetsConnectionPortObjectSpec$Serializer">
      </portType>
      <portType
            hidden="false"
            name="Google Drive"
            objectClass="org.knime.google.api.drive.util.GoogleDriveConnectionInformationPortObject"
            objectSerializer="org.knime.google.api.drive.util.GoogleDriveConnectionInformationPortObject$Serializer"
            specClass="org.knime.google.api.drive.util.GoogleDriveConnectionInformationPortObjectSpec"
            specSerializer="org.knime.google.api.drive.util.GoogleDriveConnectionInformationPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.knime.google.api.knimeGoogleAuthScope">
      <KnimeGoogleAuthScope
            KnimeGoogleAuthScope="org.knime.google.api.nodes.authconnector.util.scope.KnimeAnalyticsFullAuthScope">
      </KnimeGoogleAuthScope>
      <KnimeGoogleAuthScope
            KnimeGoogleAuthScope="org.knime.google.api.nodes.authconnector.util.scope.KnimeAnalyticsReadAuthScope">
      </KnimeGoogleAuthScope>
      <KnimeGoogleAuthScope
            KnimeGoogleAuthScope="org.knime.google.api.nodes.authconnector.util.scope.KnimeCloudPlatformAuthScope">
      </KnimeGoogleAuthScope>
      <KnimeGoogleAuthScope
            KnimeGoogleAuthScope="org.knime.google.api.nodes.authconnector.util.scope.KnimeCloudPlatformReadAuthScope">
      </KnimeGoogleAuthScope>
      <KnimeGoogleAuthScope
            KnimeGoogleAuthScope="org.knime.google.api.nodes.authconnector.util.scope.KnimeCloudStorageFullAuthScope">
      </KnimeGoogleAuthScope>
      <KnimeGoogleAuthScope
            KnimeGoogleAuthScope="org.knime.google.api.nodes.authconnector.util.scope.KnimeCloudStorageReadAuthScope">
      </KnimeGoogleAuthScope>
      <KnimeGoogleAuthScope
            KnimeGoogleAuthScope="org.knime.google.api.nodes.authconnector.util.scope.KnimeCloudStorageReadWriteAuthScope">
      </KnimeGoogleAuthScope>
      <KnimeGoogleAuthScope
            KnimeGoogleAuthScope="org.knime.google.api.nodes.authconnector.util.scope.KnimeSheetReadAuthScope">
      </KnimeGoogleAuthScope>
      <KnimeGoogleAuthScope
            KnimeGoogleAuthScope="org.knime.google.api.nodes.authconnector.util.scope.KnimeSheetReadWriteAuthScope">
      </KnimeGoogleAuthScope>
      <KnimeGoogleAuthScope
            KnimeGoogleAuthScope="org.knime.google.api.drive.scope.KnimeDriveReadAuthScope">
      </KnimeGoogleAuthScope>
      <KnimeGoogleAuthScope
            KnimeGoogleAuthScope="org.knime.google.api.drive.scope.KnimeDriveReadWriteAuthScope">
      </KnimeGoogleAuthScope>
   </extension>
   <extension
         point="org.knime.base.filehandling.RemoteFileHandler">
      <RemoteFileHandler
            RemoteFileHandler="org.knime.google.api.drive.filehandler.GoogleDriveRemoteFileHandler">
      </RemoteFileHandler>
   </extension>
</plugin>
