<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/social-media/googleapi" factory-class="org.knime.google.api.nodes.connector.GoogleApiConnectorFactory"  />
      <node category-path="/social-media/googleapi/googleanalytics" factory-class="org.knime.google.api.analytics.nodes.connector.GoogleAnalyticsConnectorFactory"  />
      <node category-path="/social-media/googleapi/googleanalytics" factory-class="org.knime.google.api.analytics.nodes.query.GoogleAnalyticsQueryFactory"  />
   </extension>
   <extension point="org.knime.workbench.repository.categories">
      <category description="Nodes to access various Google APIs" icon="icons/googleapicategory.png" level-id="googleapi" name="Google API" path="/social-media" />
      <category description="Nodes to access the Google Analytics API" icon="icons/googleanalyticscategory.png" level-id="googleanalytics" name="Google Analytics" path="/social-media/googleapi" />
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#1eb9dc"
            hidden="true"
            name="Google Analytics"
            objectClass="org.knime.google.api.analytics.data.GoogleAnalyticsConnectionPortObject"
            objectSerializer="org.knime.google.api.analytics.data.GoogleAnalyticsConnectionPortObject$Serializer"
            specClass="org.knime.google.api.analytics.data.GoogleAnalyticsConnectionPortObjectSpec"
            specSerializer="org.knime.google.api.analytics.data.GoogleAnalyticsConnectionPortObjectSpec$Serializer">
      </portType>
      <portType
            color="#1eb9dc"
            hidden="true"
            name="Google API"
            objectClass="org.knime.google.api.data.GoogleApiConnectionPortObject"
            objectSerializer="org.knime.google.api.data.GoogleApiConnectionPortObject$Serializer"
            specClass="org.knime.google.api.data.GoogleApiConnectionPortObjectSpec"
            specSerializer="org.knime.google.api.data.GoogleApiConnectionPortObjectSpec$Serializer">
      </portType>
   </extension>
</plugin>
